.DS_Store
node_modules
build
dist
cdk.out
.svelte-kit
.dumps
.env
.env.*
!.env.local.base
!.env.test
.vscode/*
!.vscode/extensions.json
.tmp
*.log
test-results
playwright-report
playwright/.cache/
packages/migration-runner/pg_binaries