$colors = {
  highlight-1: #FBE26B
  neutral-bg: #F9F9F9
  neutral-black: #2A2A2A
  primary-blue: #096EAE
  neutral-dark: #6C767D
  neutral-light: #D9D9D9
  deep-blue: #13487C
  dark-blue: #04558E
  tag-bg-cards: #DADCE0
  editor-placeholder: #AAAAAA
  lifecycle-bg: #66CFD6
  error-red: #9f1a1a
};
