@require "modules/colors"
@require "modules/typography"
@require "fonts"
@import '@splidejs/splide/dist/css/splide.min.css'

// ****************************
//    General global CSS
// ****************************

:root {
	font-family: 'Montserrat', sans-serif;
	--font-sans-serif: 'Montserrat', sans-serif;
	--font-serif: 'Bitter', serif;
}

body {
	min-height: 100vh;
	margin: 0;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 300;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

input[type=number].hide-controls {
	-moz-appearance: textfield;
}
input[type=number].hide-controls::-webkit-outer-spin-button,
input[type=number].hide-controls::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.secret-scrollbars {
  // TODO: cross browser testing

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover {
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none !important;
      background-color: transparent !important;
    }

    &::-webkit-scrollbar {
      width: 6px !important;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #acacac;
      border-radius: 5px;
    }

  }
}

// ****************************
//    Global font classes
// ****************************

typography-generate-global-class-css()

// ****************************
//    Splide styling
// ****************************

.splide__arrow {
  background-color: #FFFFFF77;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.15);
  width: 48px;
  height: 48px;
  opacity: 1;
}

.splide__arrow:hover {
  box-shadow: 0px 3px 16px rgb(0 0 0 / 30%);
}

.splide__arrow svg path {
  fill: none;
  stroke-width: 4.4;
  stroke: $colors.neutral-black;
}
